:root {
  // --primary-color: #272829;
  --primary-color: #1a1a1a;
  // --primary-color: #111111;
  // --secondary-color: #ffffff;
  --secondary-color: #dce0e3;
  // --tersiary-color: #f3f8ff;
  --tersiary-color: #f5f7f8;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  // main container
  .container {
    background-color: #1a1a1a;
    width: 100%;
    height: 100%;
    // background-color: var(--tersiary-color);
    display: flex;

    .left_Panel_Wrapper {
      background-color: var(--primary-color);
      width: 18%;
      height: 100%;
      display: flex;
      flex-direction: column;
      .left_Pannel_header {
        // border-bottom: 1px solid #ffa500;
        min-height: 28%;
        // background-color: #007bff;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        img {
          width: 78px;
          height: 78px;
        }
        h2 {
          font-size: 2rem;
          text-align: center;
          letter-spacing: 3px;
          font-weight: 500;
          color: var(--secondary-color);
        }
        h2::first-letter {
          color: #f44337;
          font-size: 44px;
        }
      }
      .left_Panel_Titles_Container {
        display: flex;
        // background-color: #c7c8cc;
        flex-direction: column;
        // align-items: center;
        // padding-inline: 1rem;
        overflow-y: scroll;
        height: 65%;
        scroll-behavior: smooth;
        padding-block: 3rem;
        gap: 2rem;
        .underline {
          width: 90%;
          margin: 0 auto;
          // height: 10px;
          // border-bottom: 1px solid #027bff;
        }
        .title_Wrapper {
          width: 270px;
          min-height: 36px;
          margin: 0 auto;
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-inline: 1.5rem;
          padding-block: 0.2rem;
          border-radius: 3px;
          overflow-x: hidden;
          overflow-y: hidden;
          // background-color: yellow;
          border: 1px solid var(--secondary-color);
          color: var(--secondary-color);
          // cursor: pointer;
          .title_Container {
            width: 80%;
            height: 26px;
            // color: #f44337;
            // background-color: red;
            overflow-x: hidden;
            overflow-y: hidden;
          }

          .dots_Container {
            // background-color: yellow;
            width: 20%;
            display: flex;
            justify-content: end;
            // background-color: yellow;
            // overflow: hidden;
          }
          img {
            width: 34px;
            cursor: pointer;
            height: 34px;
          }
        }
      }
      .left_Panel_Titles_Container::-webkit-scrollbar {
        width: 6px; /* Width of the scrollbar */
      }
      .left_Panel_Titles_Container::-webkit-scrollbar-thumb {
        // background: ; /* Color of the scrollbar thumb */
        border-radius: 28px;
      }
    }
    .right_Area_Wrapper {
      width: 82%;
      background-color: var(--secondary-color);
      // background-color: var(--tersiary-color);
      // background-color: yellow;
      .right_Top_Nav_Container {
        width: 100%;
        height: 6%;
        background-color: var(--primary-color);
      }
      .header_Helper_Text {
        display: flex;
        justify-content: space-between;
        width: 95%;
        // background-color: red;
        padding-right: 1rem;
        height: 20px;
        text-align: left;
        align-items: end;
        // background-color: #c7c8cc;
        margin-left: 2.5rem;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
        // background-color: yellow;
        h3 {
          font-size: 14px;
          font-weight: 500;
        }
        .tooltip {
          position: relative;
          display: inline-block;
          // border-bottom: 1px dotted black;
          // border: 1px solid var(--primary-color);
          border-radius: 3px;
          // background-color: var(--tersiary-color);
          img {
            width: 22px;
            height: 22px;
          }
        }

        /* Tooltip text */
        .tooltip .tooltiptext {
          visibility: hidden;
          width: 240px;
          background-color: var(--primary-color);
          color: #c7c8cc;
          text-align: center;
          padding: 10px 20px;
          border-radius: 6px;
          position: absolute;
          z-index: 1;
          top: 50%; /* Position tooltip vertically at the middle */
          transform: translateY(-50%); /* Center the tooltip vertically */
        }

        /* Show the tooltip text when you mouse over the tooltip container */
        .tooltip:hover .tooltiptext {
          visibility: visible;
          left: -260px;
        }
      }
      .right_Side_Header_Container {
        height: 12%;
        // box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        width: 95%;
        background-color: var(--tersiary-color);
        margin: 0 2rem;
        margin-bottom: 1.5rem;
        // border: 1px solid var(--primary-color);
        border-radius: 3px;
        .right_Header_Left_Container {
          width: 70%;

          // background-color: yellow;
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: center;
          padding-block: 1rem;
          padding-left: 2rem;
          /* Tooltip container */
          input.search {
            padding-block: 0.8rem;

            border-radius: 3px;
            background-color: var(--secondary-color);
            // border: 1.5px solid var(--primary-color);
            border: 0px;
            width: 300px;
            padding-inline: 1rem;
            outline: none;
          }
        }
        .right_Side_AddButton_Container {
          // background-color: red;
          width: 30%;
          display: flex;
          // flex-direction: column;
          justify-content: end;
          // padding-block: 1rem;
          padding-right: 2rem;

          // background-color: red;

          align-items: center;
          padding-block: 1rem;
          // save button add button css
          .add_Button_Wrapper {
            display: flex;
            justify-content: space-evenly;
            background-color: #027bff;

            color: white;
            // background-color: var(--secondary-color);
            border-radius: 3px;
            font-size: 14px;
            padding-inline: 0.2rem;
            padding-block: 0.4rem;
            cursor: pointer;
            align-items: center;
            width: 180px;
          }

          .add_Button_Wrapper img {
            width: 26px;
            height: 26px;
          }
        }
      }
    }
    .right_Side_Snippets_Wrapper {
      width: 95%;

      // background-color: red;
      background-color: var(--tersiary-color);
      margin: 0 2rem;
      margin-top: 0.5rem;

      // border: 1px solid var(--primary-color);
      border-radius: 3px;
      height: 66%;
      overflow-y: scroll;
      padding-block: 2rem;
      padding-inline: 2rem;

      .container_PlaceHolder {
        color: rgb(167, 165, 165);
        text-align: center;
        font-size: 14px;
      }
      .code_Snippet_Container {
        // width: 95%;
        background-color: #e5e9eb;
        // margin: 0 auto;
        max-height: 210px;
        overflow-x: hidden;

        margin-bottom: 3rem;
        border: 1px solid var(--primary-color);
        display: flex;
        border-radius: 8px;
        flex-direction: column;

        .title_Wrapper {
          width: 100%;
          display: flex;
          justify-content: space-between;
          border-bottom: 2px solid var(--secondary-color);
          padding-inline: 1rem;
          padding-block: 0.7rem;

          .button_Area {
            width: 25%;
            display: flex;
            justify-content: center;
            gap: 2rem;
            align-items: center;
          }

          .button_Area img {
            width: 22px;
            height: 22px;
            cursor: pointer;
            // background-color: var(--primary-color);
            // color: white;
            // border-radius: 3px;
            // border: 0;
          }
        }
        .code_Wrapper {
          // height: 80%;
          padding-block: 1rem;
          display: flex;
          overflow-y: scroll;
          overflow-x: hidden;
          background-color: var(--tersiary-color);

          // background-color: #f3f6f7;
          .code_Area {
            width: 90%;

            font-size: 13px;
          }
          #codeAreaSnip {
            padding-inline: 20px;
          }
        }
        .code_Wrapper::-webkit-scrollbar {
          width: 5px;
        }
        .code_Wrapper::-webkit-scrollbar-thumb {
          background-color: var(--secondary-color);
        }
        .helper_Wrapper {
          // min-height: 40%;
          // background-color: #c7c8cc;
          border-top: 2px solid var(--secondary-color);
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          color: var(--primary-color);
          display: flex;
          justify-content: end;
          gap: 3rem;
          padding-inline: 2rem;
          // border-left: 2px solid var(--secondary-color);
          padding-block: 10px;
          align-items: center;
          p {
            font-size: 11px;
            font-weight: 500;
          }
        }
      }
    }
    .right_Side_Snippets_Wrapper::-webkit-scrollbar {
      width: 6px; /* Width of the scrollbar */
    }
    .right_Side_Snippets_Wrapper::-webkit-scrollbar-thumb {
      background: #027bff;
      border-radius: 12px;
    }
  }
  .popup_Container {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    width: 60%;
    height: 500px;
    padding: 2rem;
    border-radius: 3px;
    background-color: var(--tersiary-color);
    display: none;
    z-index: 100;

    .popup_Header {
      width: 100%;
      display: flex;
      margin-bottom: 1.5rem;
      .popup_Title_Container {
        width: 70%;
        // padding: 10px;
        input {
          width: 95%;
          border: none;
          outline: 1.2px solid var(--primary-color);
          border-radius: 3px;
          font-size: 16px;
          overflow: hidden;
          // border: none;
          padding: 10px;
        }
      }
      .popup_Button_Container {
        width: 30%;
        display: flex;
        justify-content: space-around;
        gap: 0.5rem;
        align-items: center;
        // padding: 10px;
        button {
          padding-block: 10px;
          width: 124px;
          font-size: 14px;
          cursor: pointer;
        }
        .save {
          background-color: #02aa6d;
          color: white;
          border: none;
          border-radius: 3px;
        }
        .cancel {
          background-color: #dc3545;
          color: white;
          border: none;

          border-radius: 3px;
        }
      }
    }

    .codeArea {
      // width: 100%;
      // outline: 1.2px solid var(--primary-color);
      // border-radius: 3px;

      margin-left: 14px;
      // // padding-bottom: 24%;
      // // height: 100%;
      // border: none;
      // resize: none;
    }
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none;
  }
  .status {
    width: 320px;
    height: 60px;
    background-color: #f8a5a5;

    border-radius: 2px;
    font-size: 22px;
    position: fixed;
    top: 8%;
    left: 80%;
    display: flex;
    text-align: center;
    padding: 1rem;
    display: none;
    // border: 1px solid var(--primary-color);
  }
  .CodeMirror {
    // display: none;
    height: 360px !important;
  }
  .label-snippet-container {
    margin-left: 2.5rem;
    font-size: 14px;
    font-weight: 500;
    // margin-top: 2rem;
    // color: var(--ter-color);
  }
}
